/* CSS стили для секции digits */

.digits {
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column; /* задаем направление, в соответствии с которым располагаются флекс элементы внутри контейнера */
  align-items: center; /* задаем выравнивание элементов вдоль поперечной оси */
}

