/* CSS стили для header */

.header {
  margin: 0 auto;
  height: 100vh; /* задаем высоту элемента */
  min-height: 600px; /* задаем минимальную высоту элемента */
  max-height: 756px; /* задаем максимальную высоту элемента */
  background-color: #f2f2f2; /* задаем цвет фона элемента */
  position: relative; /* включаем относительное позиционирование элемента */
  display: flex; /* создаем flex контейнер */
  align-items: center; /* задаем выравнивание по поперечной оси */
  overflow: hidden; /* задаем отображение содержимого вне блока элемента */
}