/* CSS стили для header__subtitle */


.header__subtitle{
  margin: 0;
  position: absolute;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

