/* CSS стили для секции khan__book-container */

.khan__book-container {
  margin: 0;
  display: flex;
  flex-direction: row; /* задаем направление, в соответствии с которым располагаются флекс элементы внутри контейнера */
}